<!DOCTYPE html>
<html>
  <head>
    <title>RailsSimpleAirbnb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
  <h1><%= link_to "Simple Airbnb", flats_path %></h1>
  <%= link_to "Add flat", new_flat_path, class: "btn btn-primary"%>
</div>
    <%= yield %>
  </body>
</html>
